# Group by and Aggregating

In [1]:
import pandas as pd

In [2]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

## Groupby

Group by is gonna group the similar values in a column and display them all in same row

This allows us to perform aggregate functions on those groupings

In [3]:
cat = df.groupby("Category")
cat #groupby creates an object which we cannot see. So here cat is such object

# to see the content of the cat object when we use groupby function, we can use loops for it
for i, v in cat:
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [4]:
#Group by Category and calculate the sum of Sales

cat = df.groupby("Category")["Sales"].sum()
cat

Category
A    570
B    930
Name: Sales, dtype: int64

In [5]:
#Group by Store and calculate the sum of Sales
cat = df.groupby("Store")["Sales"].sum()
cat

Store
S1    720
S2    780
Name: Sales, dtype: int64

#### Group by Multiple columns

In [6]:
#Group by Category and Store
cat = df.groupby(["Category", "Store"])["Sales"].sum()
cat

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

In [7]:
df2 = pd.read_csv("Flavors.csv")
df2

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [8]:
df2.groupby(["Flavor", "Base Flavor", "Liked"]).mean()

,,,Flavor Rating,Texture Rating,Total Rating
Flavor,Base Flavor,Liked,,,
Cake Batter,Vanilla,Yes,6.5,6.0,12.5
Chocolate,Chocolate,Yes,8.8,7.6,16.6
Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3
Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
Neapolitan,Vanilla,No,3.8,5.0,8.8
Pistachio,Vanilla,No,2.3,3.4,5.7
Rocky Road,Chocolate,Yes,8.2,7.0,15.2
Vanilla,Vanilla,No,4.7,5.0,9.7

### Aggregation

Taking a group of values and summarizing them into one value.

Aggregation functions that are 90% of the time are grien below:

| Function    | Description               |
| ----------- | ------------------------- |
| `mean()`    | Average value             |
| `sum()`     | Total value               |
| `min()`     | Minimum value             |
| `max()`     | Maximum value             |
| `count()`   | Number of non-null values |
| `nunique()` | Number of unique values   |
| `median()`  | Median (middle value)     |
| `std()`     | Standard deviation        |

In [9]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

In [15]:
df["Sales"].median()

np.float64(190.0)

In [17]:
df["Sales"].agg(["sum", "mean", "median", "min", "max", "std", "count"])

sum       1500.000000
mean       187.500000
median     190.000000
min        100.000000
max        300.000000
std         66.062741
count        8.000000
Name: Sales, dtype: float64

In [20]:
df2

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [23]:
df2.groupby("Base Flavor").agg({
    "Flavor Rating" :["sum", "mean", "median", "min", "max", "std", "count"],
    "Texture Rating": ["sum", "mean", "median", "min", "max", "std", "count"]
    })

            Flavor Rating                                         \
                      sum mean median  min   max       std count
Base Flavor
Chocolate            25.2  8.4    8.2  8.2   8.8  0.346410     3
Vanilla              34.2  5.7    5.6  2.3  10.0  2.710719     6

            Texture Rating
                       sum      mean median  min  max       std count
Base Flavor
Chocolate             21.7  7.233333    7.1  7.0  7.6  0.321455     3
Vanilla               33.9  5.650000    5.5  3.4  8.0  1.566844     6

In [25]:
df2.groupby(["Base Flavor", "Liked"]).agg({
    "Flavor Rating" :["sum", "mean", "median", "min", "max", "std", "count"],
    "Texture Rating": ["sum", "mean", "median", "min", "max", "std", "count"]
    })

                  Flavor Rating                                         \
                            sum mean median  min   max       std count
Base Flavor Liked
Chocolate   Yes            25.2  8.4    8.2  8.2   8.8  0.346410     3
Vanilla     No             10.8  3.6    3.8  2.3   4.7  1.212436     3
            Yes            23.4  7.8    6.9  6.5  10.0  1.915724     3

                  Texture Rating
                             sum      mean median  min  max       std count
Base Flavor Liked
Chocolate   Yes             21.7  7.233333    7.1  7.0  7.6  0.321455     3
Vanilla     No              13.4  4.466667    5.0  3.4  5.0  0.923760     3
            Yes             20.5  6.833333    6.5  6.0  8.0  1.040833     3

In [27]:
df2.groupby("Base Flavor").describe()

            Flavor Rating                                             \
                    count mean       std  min    25%  50%  75%   max
Base Flavor
Chocolate             3.0  8.4  0.346410  8.2  8.200  8.2  8.5   8.8
Vanilla               6.0  5.7  2.710719  2.3  4.025  5.6  6.8  10.0

            Texture Rating            ...             Total Rating         \
                     count      mean  ...    75%  max        count   mean
Base Flavor                           ...
Chocolate              3.0  7.233333  ...  7.350  7.6          3.0  15.70
Vanilla                6.0  5.650000  ...  6.375  8.0          6.0  11.35


                  std   min     25%   50%     75%   max
Base Flavor
Chocolate    0.781025  15.2  15.250  15.3  15.950  16.6
Vanilla      4.263684   5.7   9.025  11.1  13.175  18.0

[2 rows x 24 columns]