## Methods to Create DataFrame

In [14]:
import pandas as pd

### using csv file
    .read_csv("fileSource")

In [15]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### using excel file
    .read_excel("fileSource", sheet_name="sheetName")

In [16]:
df = pd.read_excel("weather_data.xlsx", sheet_name="Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

### using dictionary

In [17]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### using tuples list

In [18]:
weather_data = [
    ("1/1/2017", 32, 6, "Rain"),
    ("1/2/2017", 35, 7, "Sunny"),
    ("1/3/2017", 28, 2, "Snow"),
]
columnsName = ["day", "temperature", "windspeed", "event"]
rowsName = ["Seoul", "Tokyo", "Beijing"]

df = pd.DataFrame(weather_data, rowsName, columnsName)
df

              day  temperature  windspeed  event
Seoul    1/1/2017           32          6   Rain
Tokyo    1/2/2017           35          7  Sunny
Beijing  1/3/2017           28          2   Snow

### using list of dictionary

In [19]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'}, 
]
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow