In [1]:
import pandas as pd

### Read CSV File

In [2]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Create Dataframe

    pd.DataFrame(datas, rowNames, columnNames)

In [3]:
data = [[50, True], [40, False], [30, False]]
label_rows = ["Sally", "Mary", "John"]
label_cols = ["age", "qualified"]

df = pd.DataFrame(data, label_rows, label_cols)
df

       age  qualified
Sally   50       True
Mary    40      False
John    30      False

    pd.DataFrame()

In [4]:
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Shape
    df.shape

In [5]:
print("shape of dataframe in (row, column) format =", df.shape, "\n")

rows, columns = df.shape
print("no. of rows =", rows, "\n")
print("no. of columns =", columns)

shape of dataframe in (row, column) format = (6, 4)

no. of rows = 6

no. of columns = 4

### first Five Rows
    df.head()

In [6]:
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

### first N number of Rows

In [7]:
df.head(3)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

### last Five Rows
    df.tail()

In [8]:
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### last N number of Rows

In [9]:
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

### Indexing
    df[startIndex:stopIndex:step]
            from startIndex to stopIndex (not inclusive to the data) with stepsize  interval
    
    df[:]
            all data ==> from 0th Index to lastIndex

    df[:stopIndex]
            from 0th Index to stopIndex(not inclusive to the data)
    
    df[startIndex:]
            from startIndex to lastIndex

In [10]:
df[2:5:2]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
4  1/5/2017           32          4  Rain

In [11]:
df[:]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df[:3]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [13]:
df[3:]

        day  temperature  windspeed  event
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

### Get All Columns
    df.columns

In [14]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

### Column Contents
    df.columnName

    df["columnName"]

In [15]:
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [16]:
df["event"]

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

### Get Multiple Columns Contents

    df["columnName", "columnName"]

In [17]:
df[["event", "temperature"]]

   event  temperature
0   Rain           32
1  Sunny           35
2   Snow           28
3   Snow           24
4   Rain           32
5  Sunny           31

### Type of DataFrame

In [18]:
type(df["event"])

pandas.core.series.Series

### .mean()

In [19]:
df["temperature"].mean()

np.float64(30.333333333333332)

### .max()
    maximum value

In [20]:
df["temperature"].max()

np.int64(35)

### .min()
    minimum value

In [21]:
df["temperature"].min()

np.int64(24)

### .std()
        standard deviation

In [22]:
df["temperature"].std()

np.float64(3.8297084310253524)

### .describe()
    gets all the stats of the dataset

In [23]:
df["temperature"].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

### Conditionally Select Data In Dataframe

In [24]:
df[df["temperature"] >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [25]:
df[df["temperature"] == df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [26]:
df.day[df["temperature"] == df.temperature.max()]

1    1/2/2017
Name: day, dtype: object

In [27]:
df[["day", "temperature"]][df["temperature"] == df.temperature.max()]

        day  temperature
1  1/2/2017           35

### .set_index(target, inplace = False)
    By default, (inplace = False) ===> doesnot modify original dataset

In [28]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [29]:
df.set_index("day", inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

### .loc["rowName", "columnName]
    gets data from selected row of specific column

In [30]:
df.loc["1/1/2017", "windspeed"]

np.int64(6)

### .reset_index(inplace = False)
    By default, (inplace = False) ===> doesnot modify original dataset

In [31]:
df.reset_index(inplace=True)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny