# Group by and Aggregating

In [1]:
import pandas as pd

In [2]:
data = {
    'Category': ['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B'],
    'Store': ['S1', 'S1', 'S2', 'S2', 'S1', 'S2', 'S2', 'S1'],
    'Sales': [100, 200, 150, 250, 120, 180, 200, 300],
    'Quantity': [10, 15, 12, 18, 8, 20, 15, 25],
    'Date': pd.date_range('2023-01-01', periods=8)
}
df = pd.DataFrame(data)
df

  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
1        B    S1    200        15 2023-01-02
2        A    S2    150        12 2023-01-03
3        B    S2    250        18 2023-01-04
4        A    S1    120         8 2023-01-05
5        B    S2    180        20 2023-01-06
6        A    S2    200        15 2023-01-07
7        B    S1    300        25 2023-01-08

## Groupby

Group by is gonna group the similar values in a column and display them all in same row

This allows us to perform aggregate functions on those groupings

In [3]:
cat = df.groupby("Category")
cat #groupby creates an object which we cannot see. So here cat is such object

# to see the content of the cat object when we use groupby function, we can use loops for it
for i, v in cat:
    print(i)
    print(v)

A
  Category Store  Sales  Quantity       Date
0        A    S1    100        10 2023-01-01
2        A    S2    150        12 2023-01-03
4        A    S1    120         8 2023-01-05
6        A    S2    200        15 2023-01-07
B
  Category Store  Sales  Quantity       Date
1        B    S1    200        15 2023-01-02
3        B    S2    250        18 2023-01-04
5        B    S2    180        20 2023-01-06
7        B    S1    300        25 2023-01-08

In [4]:
#Group by Category and calculate the sum of Sales

cat = df.groupby("Category")["Sales"].sum()
cat

Category
A    570
B    930
Name: Sales, dtype: int64

In [5]:
#Group by Store and calculate the sum of Sales
cat = df.groupby("Store")["Sales"].sum()
cat

Store
S1    720
S2    780
Name: Sales, dtype: int64

#### Group by Multiple columns

In [6]:
#Group by Category and Store
cat = df.groupby(["Category", "Store"])["Sales"].sum()
cat

Category  Store
A         S1       220
          S2       350
B         S1       500
          S2       430
Name: Sales, dtype: int64

In [7]:
df2 = pd.read_csv("Flavors.csv")
df2

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [8]:
df2.groupby(["Flavor", "Base Flavor", "Liked"]).mean()

,,,Flavor Rating,Texture Rating,Total Rating
Flavor,Base Flavor,Liked,,,
Cake Batter,Vanilla,Yes,6.5,6.0,12.5
Chocolate,Chocolate,Yes,8.8,7.6,16.6
Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3
Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
Neapolitan,Vanilla,No,3.8,5.0,8.8
Pistachio,Vanilla,No,2.3,3.4,5.7
Rocky Road,Chocolate,Yes,8.2,7.0,15.2
Vanilla,Vanilla,No,4.7,5.0,9.7

### Aggregation